{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block content %}

<div class="container">
    <form>
        <input type="text" name="news_query" placeholder="Search for news here" class= "form-control">
        <input type="submit" value="Submit" class= "btn btn-default" >
    </form>
</div>
<h3 style="justify-content: center; text-align: center;">
    GENERAL NEWS
</h3>
<ul>
    {{macro.displayNews(general)}}
</ul>
<h3 style="justify-content: center; text-align: center;">
    ENTERTAINMENT NEWS
</h3>
<ul>
    {{macro.displayNews(entertainment)}}
</ul>
<h3 style="justify-content: center; text-align: center;">
    TECHNOLOGY
</h3>
<ul>
    {{macro.displayNews(technology)}}
</ul>
<h3 style="justify-content: center; text-align: center;">
    BUSINESS NEWS
</h3>
<ul>
    {{macro.displayNews(business)}}
</ul>
<h3 style="justify-content: center; text-align: center;">
    HEALTH NEWS
</h3>
<ul>
    {{macro.displayNews(health)}}
</ul>
<h3 style="justify-content: center; text-align: center;">
    SCIENCE NEWS
</h3>
<ul>
    {{macro.displayNews(science)}}
</ul>
<h3 style="justify-content: center; text-align: center;">
    SPORT NEWS
</h3>
<ul>
    {{macro.displayNews(sports)}}
</ul>
{% endblock %}